body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
  width: 80%;
}
.itemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
}
.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 0.8rem;
  border-radius: 0.3em;
  color: white;
  font-size: 2em;
}

.meal-recipe {
  max-width: 90%;
  margin: 10px auto;
}
.meal-title {
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
}

iframe {
  border: none;
  width: 100%;
  height: calc(70vw/1.77);
  
}